<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Tarefa</title>
</head>
<body>
    <h2>Alterar Tarefa</h2>
    <form method="POST" action="{{ url_for('alterar_tarefa', tarefa=tarefa) }}">
        <label for="nova_tarefa">Nova Tarefa:</label>
        <input type="text" name="nova_tarefa" required>
        <button type="submit">Alterar</button>
    </form>
</body>
</html>
