<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Termo</title>
</head>
<body>
    <h2>Alterar Termo</h2>
    <form method="POST" action="{{ url_for('alterar_termo', termo=termo) }}">
        <label for="novo_termo">Novo Termo:</label>
        <input type="text" name="novo_termo" required>
        <button type="submit">Alterar</button>
    </form>
</body>
</html>
